* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 1px solid black;
    flex: 1 0 auto;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#hero {
    background-image: url("./mathias-reding-IEpyWlEEoQ4-unsplash.jpg");
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 30%;
    height: 100%;
    justify-content: space-between;
}

#hero a {
    color: antiquewhite;
    /* text-decoration: none; */
}

#heroBanner {
    font-size: 48pt;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin-top: 25%;
    /* opacity: 50%; */
}

#heroImageCredit {
    text-align: center;
    margin-bottom: 2.5%;
}

/* #heroBannerText {
    opacity: 100%;
} */

#introContainer {
    font-weight: bold;
    font-size: 18pt;
    margin: 10% 5% 0 5%;
}

#formContainer {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: wheat;
    align-items: stretch;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

#formFieldsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* border: 1px solid blue; */
    margin: 10px;
}

input {
    border-radius: 4px;
    height: 25px;
    width: 80%;
}

input:active {
    box-shadow: 90px;
    border: 2px solid blue;
}