* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 1px solid black;
    flex: 1 0 auto;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#hero {
    background-image: url("./mathias-reding-IEpyWlEEoQ4-unsplash.jpg");
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 30%;
    height: 100%;
    justify-content: space-between;
}

#hero a {
    color: antiquewhite;
    /* text-decoration: none; */
}

#heroBanner {
    font-size: 48pt;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin-top: 25%;
    /* opacity: 50%; */
}

#heroImageCredit {
    text-align: center;
    margin-bottom: 2.5%;
}

/* #heroBannerText {
    opacity: 100%;
} */

#introContainer {
    font-weight: bold;
    font-size: 18pt;
    margin: 10% 20% 5% 5%;
}

#formContainer {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: wheat;
    align-items: stretch;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

#formFieldsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
}

#formFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max(50%, 800px);
}

.field {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* border: 1px solid blue; */
    margin: 10px 5%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input {
    border-radius: 4px;
    height: 25px;
    width: 80%;
    border: 1px solid silver;
}

input:focus {
    outline: none;
    box-shadow: 90px;
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid red;
}

#createAccountBtn {
    background: #596d48;
    border-radius: 8px;
    width: 230px;
    height: 50px;
    color:beige;
    font-size: 120%;
    font-weight: bold;
    border: 0;
    margin: 3.5% 5%;
}

#alreadyHaveAccount {
    font-size: 120%;
    display: flex;
    /* flex-direction: column; */
    margin: 0 5%;
}

#logInLink,
#logInLink:visited {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}